{% load static %}
<h1>IN THE COURT OF {{CourtName}}</h1>
<h1>AT {{City}}</h1>
<h1>I.A. No: {{IANumber}} OF 2024</h1>
<h1>IN</h1>
<h1>O.S No: {{OSNumber}} OF 2024</h1>
<h2 style="text-align: left;">BETWEEN:</h2>
<ol style="1">
    {% for i in Pfs %}
    <li>{{i}}</li>
    {% endfor %}
</ol>
<h2 style="text-align: right;">{{tag1}}</h2>
<h2 style="text-align: center;">AND</h2>
<ol style="1">
    {% for i in Dfs %}
    <li>{{i}}</li>
    {% endfor %}
</ol>
<h2 style="text-align: right;">{{tag2}}</h2>
<p>*DESCRIPTION OF PARTIES*</p>
<ol style="A">
<li>The description and address of the plaintiff for the purpose of service of summons, notices and process etc., is the same as shown in the cause title and that of his counsel M/S M. DHANRAJ, V. BRAHMACHARI, Advocates, Sangareddy Town & District.</li>
<li>The description and addresses of the Defendant for the purpose of service of summons and process etc., is the same as shown in the cause title.</li>
</ol>
<p>The plaintiff above named most humbly and respectfully submits as follows:</p>
<ol style="1">
<li>A</li>
<li>A</li>
</ol>
<p>*COURT FEE:* That as per the latest Dharani Portal, the market value of the suit schedule land Rs.                /- per acre and the total value comes to Rs.                /- that the suit of plaintiff is for injunction simplicitor. As such the plaintiff notionally valued the relief of injunction at Rs. __________/- upon which a Court fee of Rs. ___________/- is paid U/s 26 (C) of T.S Court Fees and Suits Valuation Act which is proper and sufficient.</p>
<p>*JURISDICTION:* The suit schedule land is situated at Sadasivpet Town & Mdl., Sangareddy District., which is within the territorial jurisdiction of this Hon’ble Court.  That as per the location of the property, as per the cause of action and as per the valuation of the relief, this Hon’ble Court is having both pecuniary and territorial jurisdiction to entertain the suit and give relief.</p>
<p>*LIMITATION:* That the suit is within limitation.</p>
<p>*DECLARATION:* The plaintiff hereby declares that he has not filed any suit or proceeding before any court or authority except the present suit.</p>